*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.button{
    width: 100%;
    padding: 60px 80px;
    display: grid;
    grid-template-columns: 10% 10% 10%;
    gap: 20px 0px;
    justify-content: space-between;
}

#but{
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    border-radius: 10px;
    font-size: large;
    background-color: antiquewhite;
}
.search-button{
    display: flex;
    gap: 5px;
    width: 100%;
}
#search-input{
    width: 125px;
    padding: 8px 2px;
    font-size: small;
    background-color: antiquewhite;
    border: none;
    outline: none;
}
#search-btn{
    padding: 5px 8px;
    background-color: antiquewhite;
    border: none;
    outline: none;
}
.peraTable{
    background-color: antiquewhite;
}
#file{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

@media only screen and (max-width:665px) {
    .button{
        grid-template-columns: 15% 15% 15%; 
   gap: 20px 80px;
    }
}
@media only screen and (max-width:475px) {
    .button{
        grid-template-columns: 25% 25% 25%; 
   gap: 20px 30px;
    }
}
@media only screen and (max-width:330px) {
    .button{
        grid-template-columns: 20% 20% 20%; 
   gap: 20px 40px;
   padding: 30px 20px;
    }
}
.mini-container{
    width: 100%;
    display: flex;
   justify-content: center;
    border: 1px solid rgb(238, 235, 235);
    padding: 10px 2px;
}
.peraTable{
    font-size: large;
    line-height: 25px;
    word-spacing: 10px;
    border: 1px solid rgb(228, 223, 223);
    padding: 0px 20px;
}

